node_modules/
www/

# Xcode user and build artifacts
ios/App/build/
ios/App/Pods/
ios/App/output/
ios/App/App/public/
ios/DerivedData/
ios/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
